<p>
    I'm Alex, Karate black-belt and Software Developer from Porto Alegre 🇧🇷, now living in Berlin 🇩🇪.
    Working with development since 2006, I already used an huge amount of different technologies.
    Technologies from JVM languages like Java, Kotlin, Scala and Groovy to more script languages as Ruby and Python.
    Learned and teached TDD, Lean, Agile principles and many others throught the years.
</p>

<!-- Wordcloud create using https://www.wordclouds.com/ -->
<p>
    {% svg /assets/media/wordcloud.svg id='wordcloud' viewBox='0 0 800 600' %}
</p>

<p>
    Today I work as a Software Engineer for Zalando
    <img class="zalando-icon" src='{{ site.baseurl }}/assets/media/zalando-logo.png'/> where I can use all my knowledge about
    resilience and scalable Cloud Native Applications using in a daily basis Python, Java, Scala and Kotlin
    with Kubernetes on the AWS stack.
</p>


