<p>
    <h2>Hi there!</h2>
    <p>I'm Alex – a black belt in Karate and a passionate Software Developer. Originally hailing from the vibrant city of Porto Alegre, Brazil 🇧🇷, I now call the dynamic city of Berlin, Germany 🇩🇪 my home.</p>
    
    <p>My journey in the world of development began back in 2006, and what a journey it's been! I've had the pleasure of diving into a vast ocean of technologies, from JVM languages like Java, Kotlin, Scala, and Groovy to scripting marvels like Ruby and Python.</p>
    
    <p>But that's not all! Along the way, I've embraced and shared the transformative power of Test-Driven Development (TDD), Lean, Agile principles, and many more innovative methodologies. Whether learning or teaching, my goal has always been to push the boundaries of what's possible in the tech world.</p>
    
    <p>Join me as I share my adventures, insights, and the relentless pursuit of excellence in both code and life!</p>
</p>

<!-- Wordcloud create using https://www.wordclouds.com/ -->
<p>
    {% include /svg/wordcloud.svg  %}
</p>