<p>
    I'm Alex, Karate black-belt and Software Developer from Porto Alegre 🇧🇷,
    now living in Berlin 🇩🇪. Working with development since 2006, I already used a huge amount of different technologies.
    Technologies from JVM languages like Java, Kotlin, Scala, and Groovy to more script languages as Ruby and Python.
    Learned and taught TDD, Lean, Agile principles and many others through the years.
</p>

<!-- Wordcloud create using https://www.wordclouds.com/ -->
<p>
    {% include /svg/wordcloud.svg  %}
</p>

<p>
    Today I work as a Software Engineer for Zalando
    <img class="zalando-icon" src='{{ site.baseurl }}/assets/media/zalando-logo.png'/> where I can use all my knowledge about
    resilience and scalable Cloud-Native Applications using on a daily basis Python, Java, Scala and Kotlin
    with Kubernetes on the AWS stack.
</p>


